.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #DD5353;
}

h1 {
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-shadow: 5px 0 #B73E3E;
  font-size: 6.5rem;
  color: #DBC8AC;
}

.button{
  padding-top: 30px;
}
.btn{
  background-color: #B73E3E;
  color:#EDDBC0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.btn:hover{
  background-color: #DBC8AC;
}



p {
  font-size: 2rem;
  color: #DBC8AC;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

img {
  width: 80%;
}

footer {
  margin-top: 50px;
  color: #EDDBC0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;

}
